*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: rgb(54, 52, 52);
}

.main-container{
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 10em;
}
.section-conatiner{
    width: 90%;
    border: 2px solid #ffff;
    border-radius:10px;
    padding: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section-conatiner h3{
    text-align: center;
    font-size:1.8rem;
    color: #ffff;
    font-weight: 600;
}
.selection-container{
    margin-top: 1rem;
    display: grid; 
    gap: 1em ;
}
.section-conatiner h5{
    font-size:1.4rem;
    color: rgb(218, 164, 15);
    font-weight: 500;
}
.btn{
    padding:5px 9px;
    font-size: 0.9rem;
    border-radius: 1rem;
    font-size: 1rem;
    border: none; 
}
.input-container{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}
.input-container label{
    font-size: 1.2rem;
    color: rgb(255, 174, 0);
    font-weight: 500;
}
.input-container input{
    margin: 1.2em;
    width: 7em;
    height: 3em;
    background: none;
    border-radius: 5px;
    appearance: textfield;
    appearance: none;
    outline: none;
    text-align: center;
    font-size: 1rem;
    padding: 0.5em;
}
input[type=number] {
    -moz-appearance: textfield;
  }
.input-container p{
    font-size: 1.3rem;
    font-weight: 500;
    color: aquamarine;
}
.display-percentage{
    margin-top: 1.2em;
    font-size:1.2rem;
    font-weight: bold;
}
.back-btn-container{
    margin: 1.2em;
}
.back-btn-container button{
    padding: 0.5em;
    font-size:0.8rem
}

.hide{
    display: none
}
#preview{
    margin : 0 0 1rem 1rem ;
    font-size: 1.2rem;
    color: rgb(246, 255, 127);
    font-weight: 600;
    transition: delay 0.5s;
}